<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
        <h2> controls </h2>
        <h4> Main </h4>

        <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle">power</i>
              <span class="title">POWER</span>
              <p><%= form_for Control.find(1), :method => :PUT do |f| %>
                <%= f.hidden_field :key, value: "power" %>
                <br>
                <%= f.hidden_field :value, value: "on" %>
                <br>
                <%= f.submit  "Power On"%>
              <% end %>
              </p>
              <p><%= form_for Control.find(1), :method => :PUT do |f| %>
                <%= f.hidden_field :key, value: "power" %>
                <br>
                <%= f.hidden_field :value, value: "off" %>
                <br>
                <%= f.submit "Power Off" %>
              <% end %>
              </p>
            </li>
          </ul>

              </li>
            </ul>

        <h3> Logging Controls </h3>
        Future.

  </div>
</body>
